flows.json
[{"id":"dc920fa.4b2e1f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b6e1090f.cf26f8","type":"inject","z":"dc920fa.4b2e1f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["eb096760.e24a58"]]},{"id":"e844f49f.c33ef8","type":"debug","z":"dc920fa.4b2e1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":200,"wires":[]},{"id":"1f4e157c.cab48b","type":"link out","z":"dc920fa.4b2e1f","name":"","links":["710e0fb.a22a7f"],"x":435,"y":80,"wires":[]},{"id":"710e0fb.a22a7f","type":"link in","z":"dc920fa.4b2e1f","name":"out1","links":["1f4e157c.cab48b"],"x":55,"y":200,"wires":[["e844f49f.c33ef8"]]},{"id":"448ae6a2.c9fbb8","type":"comment","z":"dc920fa.4b2e1f","name":"Inject timestamp","info":"Inject timestamp","x":120,"y":40,"wires":[]},{"id":"e74a6ee6.d19f5","type":"comment","z":"dc920fa.4b2e1f","name":"Print out timestamp","info":"","x":130,"y":160,"wires":[]},{"id":"eb096760.e24a58","type":"exec","z":"dc920fa.4b2e1f","command":"curl ifconfig.co","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":320,"y":80,"wires":[["1f4e157c.cab48b"],[],[]]}]